
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
 }

 #nav {
   background-color: lightblue;
 
   }


 #nav-ul {
   text-align: center;
   display:inline-flex;
    margin:10px;
    letter-spacing: 1.5px;
    font-size: 20px;
 }

 ul {
   list-style:none
 }

 .bi {
    width: 30px;
    height: 30px;
    text-align: center;
 }

 .productos {
   display: inline-flex;
   padding: 10px;

 }

 .productos ul {
   border: 3px solid black;
   text-align: center;
   width: 150px;
   background-color: cornflowerblue;
margin: 40px;
 }

 .boton-producto {
   color: black;
   border: 1px solid black;
 }

.imgdetail {
  width: 400px;
  height: 400px;
}

.imgcontainer {
  width: 250px;
  height: 250px; 
}

.boton-Item 
{
  margin: 1000px;
}